#header{
   height: 50px;
   background-color: #10284e;
   color: #fff;
}

#branding h1{
    color: #fff;
}

a:link,
a:visited{
    color:#10284e;
}

div.breadcrumbs{
    background-color: #30caa0;
    color:#10284e;
}
div.breadcrumbs a{
    color:#333;
}

.module h2, .module caption, .inline-goup h2{
    background-color: #30caa0;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    background-color:#10284e;
    color:#fff;
}